<a href="https://colab.research.google.com/github/shravss18/Decoding-tomorrow---Chinmayi-Shravani/blob/main/Decoding_tomorrow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
name=input('Enter name')
print("My name is",name)

Enter nametiger
My name is tiger

In [ ]:
n=int(input('Enter your number'))

Enter your number123456

In [ ]:
n=int(input('Enter your number'))
if n%2==0:
  print('It is even')
else:
  print('It is odd')

Enter your number45
It is odd

In [ ]:
# print all the vowels in the input string #lists
text=input("Enter the input: ")
vowels=['a','e','i','o','u']
for i in text:
  if i in vowels:
    print(i)

Enter the input: chinmayi
i
a
i

In [ ]:
#dictionary
l=[1,1,3,4,4,4,5,6,6,3,3,9,2,5,]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{1: 2, 3: 3, 4: 3, 5: 2, 6: 2, 9: 1, 2: 1}

In [ ]:
str="betty bought some butter but the butter was bitter betty bought some better butter"
l=str.split(" ")
myset=set(l)
print(myset)

{'some', 'but', 'better', 'betty', 'bought', 'bitter', 'butter', 'was', 'the'}

In [ ]:
# Homework #Question1

text=input("Enter the name of Person 1: ")
text=input("Enter the name of person 2: ")
n1=int(input("Enter the age of person 1: "))
n2=int(input("Enter the age of person 2: "))
sum=int(n1)+int(n2)
print("The sum of their ages is",sum)

Enter the name of Person 1: Shylaja
Enter the name of person 2: Rajeev
Enter the age of person 1: 45
Enter the age of person 2: 45
The sum of their ages is 90

In [ ]:
#Question2
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
c=int(input("Enter the third number: "))
mean=(int(a)+int(b)+int(c))/3
print("The mean of three numbers is",mean)

Enter the first number: 45
Enter the second number: 26
Enter the third number: 19
The mean of three numbers is 30.0

In [ ]:
#Question3
l=int(input("Enter the length of the rectangular box: "))
b=int(input("Enter the breadth of the rectangular box: "))
h=int(input("Enter the height of the rectangular box: "))
vol=int(l)*int(b)*int(h)
print("The volume of the rectangular box is ",vol)

Enter the length of the rectangular box: 15
Enter the breadth of the rectangular box: 3
Enter the height of the rectangular box: 10
The volume of the rectangular box is  450

In [ ]:
#Question4

In [ ]:
print("*")
print("* *")
print("* * *")
print("* * * *")
print("* * * * *")

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Question5
def calculate_hcf(a1,a2):
   if a1>a2:
    smaller=a2
   else:
    smaller=a1
   for i in range(1,smaller+1):
    if((a1%i==0)and(a2%i==0)):
      hcf=i
   return hcf

   m=int(input("Enter the first number:" ))
   n=int(input("Enter the second numer:" ))
   print("The H.C.F of",m,"and",n,"is:" ,calculate_hcf(m,n))

In [ ]:
def calculate_hcf(a1,a2):
   if a1>a2:
    smaller=a2
   else:
    smaller=a1
   for i in range(1,smaller+1):
    if((a1%i==0)and(a2%i==0)):
      hcf=i
   return hcf
   m=int(input("Enter the first number:" ))
   n=int(input("Enter the second numer:" ))
   print("The H.C.F of",m,"and",n,"is:" ,calculate_hcf(m,n))

In [ ]:
#factorial
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [ ]:
#factorial
n=int(input("Enter the number: "))
print("The factorial of the number is",factorial(n))

Enter the number: 9
The factorial of the number is 362880

In [ ]:
def calculate_hcf(a1,a2):
   if a1>a2:
    smaller=a2
   else:
    smaller=a1
   for i in range(1,smaller+1):
    if((a1%i==0)and(a2%i==0)):
      hcf=i
   return hcf

In [ ]:
m1=int(input("Enter the first numer: "))
m2=int(input("Enter the second number: "))
print("The H.C.F of the two numbers is: ",calculate_hcf(m1,m2))

Enter the first numer: 15
Enter the second number: 10
The H.C.F of the two numbers is:  5